p{
	color: rgb(40,40,40)
}
.per-resume{
	display: block;
	width:340px;
	background: rgb(40,40,40);
/*	transform: scale(1.2,1);*/
	margin-top: 330px;
	font-family: 新宋体;
	font-size: 7em;
	position: relative;
	padding: 0 50px;
	animation:pr 1s linear ;  
	margin-right: auto;
	margin-left: auto;
	color:rgb(233, 181, 0);

}
.word-resume{
	display: block;
	width:390px;
	padding-left: 30px;
	padding-right: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size: 3em;
	color:rgb(40, 40, 40);
	margin-top: 20px;
	/*background: red;*/
	animation:wr 0.5s linear ;  
}
@-webkit-keyframes pr{
	0%{
		-webkit-transform:  translate(300px,-1500px);
		-webkit-transform:  rotate(-90deg);
		transform:  translate(300px,-1500px)  rotate(-90deg);
		-moz-transform:  translate(300px,-1500px)  rotate(-90deg);
	}
	50%{
		-webkit-transform: rotate(-90deg);
		-webkit-transform: translate(300px,-1500px);
		transform: rotate(-90deg) translate(300px,-1500px);
		-moz-transform: rotate(-90deg) translate(300px,-1500px);
	}
	100%{
		-webkit-transform: translate(0px,0px) ;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg) translate(0px,0px) ;
		-moz-transform: rotate(0deg) translate(0px,0px) ;
	}

}
@-webkit-keyframes wr{
	0%{
		-webkit-transform: translate(-1000px,0px);
		transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
.first{
	/*background: red;*/
	display: block;
	color:rgb(40, 40, 40);
	width:360px;
	font-size: 7em;
	padding: 0 40px;
	margin-top: 280px;
	animation:first 0.5s linear ;  
}
.name{
	display: block;
	/*background: blue;*/
	font-size: 5em;
	width: 260px;
	float: right;
	margin-top: 50px;
	padding-right: 10px;
	animation:name 1s linear; 
	color:rgb(40, 40, 40);
}
.name-span{
	font-size: 0.5em;
	color: black;
}
@-webkit-keyframes first{
	0%{
		-webkit-transform: translate(-1000px,0px);
		transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
@-webkit-keyframes name{
	0%{
		-webkit-transform: translate(2000px,0px);
		transform: translate(2000px,0px);
		-moz-transform: translate(2000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
.three-page{
	/*background: red;*/
	float: left;
	font-weight: bold;
	margin-left: 28px;
	margin-top: 230px;
}
.three-page p{
	margin-top: 16px;
	font-size: 38px;
}
.and-then{
	animation:and-then 0.8s ease-out; 
}
.joke{
	animation:joke 2.8s ease-out; 
}
@-webkit-keyframes and-then{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
@-webkit-keyframes joke{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
.what{
	animation:what 1.8s ease-out; 
}
.patient{
	animation:what 3.8s ease-out; 
}
@-webkit-keyframes what{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
@-webkit-keyframes patient{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
.w{
	display: none;
}
.introduce{
	font-size: 5em;
	width: 190px;
	margin-left: auto;
	margin-right: auto;
	font-family:'winmantun23001a5d4552c118ead';
	margin-top: 230px;
	animation:introduce 1.5s linear; 
	/*font-weight: bold;*/
}
@-webkit-keyframes introduce{
	0%{
		-webkit-transform: rotate3d(100,0,0,90deg);
		-moz-transform: rotate3d(100,0,0,90deg);
	}
	100%{
		-webkit-transform: rotate3d(0,0,0,0deg);
		-moz-transform: rotate3d(0,0,0,0deg);
	}
}
.about-me{
	font-size: 5em;
	width: 190px;
	margin-left: auto;
	margin-right: auto;
	font-family:'AnJingCheng-Xina59e96b9018ead';
	font-weight: bold;
	animation:aboutMe 1.5s linear; 
}
@-webkit-keyframes aboutMe{
	0%{
		-webkit-transform: rotate3d(0,100,0,90deg);
		-moz-transform: rotate3d(0,100,0,90deg);
	}
	100%{
		-webkit-transform: rotate3d(0,0,0,0deg);
		-moz-transform: rotate3d(0,0,0,0deg);
	}
}
.me{
	font-size: 2em;
	width: 490px;
	text-indent: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 10px;
	animation:me 1.5s linear; 
	perspective:500px;
}
@-webkit-keyframes me{
	0%{
		-webkit-transform: rotate3d(100,0,0,90deg);
		-moz-transform: rotate3d(100,0,0,90deg);
	}
	100%{
		-webkit-transform: rotate3d(0,0,0,0deg);
		-moz-transform: rotate3d(0,0,0,0deg);
	}
}
.school{
	font-size: 5em;
	width: 240px;
	/*background: red;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 230px;
	font-family:'jin_mei_mxplzxa5d7721ac18ead';
	animation:school 1s linear; 
}
@-webkit-keyframes school{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
.performance{
	font-size: 30px;
	width: 244px;
	margin-left: auto;
	margin-right: auto;
	font-family:'chenwixun-jiana5d6efaf118ead';
	font-weight: bold;
	animation:performance 1s linear; 
}
@-webkit-keyframes performance{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
.school-life{
	font-size: 2em;
	width: 480px;
	text-indent: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 10px;
	animation:schoolLife 2s linear; 
	perspective:500px;
}
@-webkit-keyframes schoolLife{
	0%{
		-webkit-transform: rotate3d(0,100,0,90deg);
		-moz-transform: rotate3d(0,100,0,90deg);
	}
	80%{
		-webkit-transform: rotate3d(0,100,0,-20deg);
		-moz-transform: rotate3d(0,100,0,-20deg);
	}
	100%{
		-webkit-transform: rotate3d(0,0,0,0deg);
		-moz-transform: rotate3d(0,0,0,0deg);
	}
}

.intere{
	font-size: 19px;
	width: 222px;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
	font-family:'kittyyuanshimaoa5d8f73ce18ead';
	font-weight: bold;
	animation:intere 1s ease-out; 
}
@-webkit-keyframes then{
	0%{
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
}
.hobby{
	width: 480px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: block;
	margin-top: 20px;
	perspective:500px;
}
.such{
	font-weight: bold;
	font-size: 30px;
	margin-top: 10px;
	animation:and-then 1s linear; 
}
@-webkit-keyframes such{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
.above{
	font-size: 14px;
	margin-top: 10px;
	animation:intere 7s ease-out; 
	transform-origin: left;
}
@-webkit-keyframes above{
	0%{
		-webkit-transform: scale(0,0);
		-moz-transform: scale(0,0);
	}
	100%{
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
	}
}
.like{
	font-size: 24px;
	margin-top: 10px;
	animation:like 1s ease-out; 
	transform-origin: left top;
}
@-webkit-keyframes like{
	0%{
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
}
.then{
	font-size: 5em;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 230px;
	font-family:'DroidSansa5d8d8feb18ead';
	animation:then 1s ease-out; 
	transform-origin: left top;
}
@-webkit-keyframes intere{
	0%{
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-webkit-transform: scale(0,0);
		-moz-transform: scale(0,0);
	}
	100%{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
	}
}
.achieve{
	font-size: 5em;
	font-family:'zsxsbainianjnbaf3b214a118ead';
	width: 240px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 230px;
	/*background: red;*/
	animation:achieve 1.1s ease-out; 
}
@-webkit-keyframes ach{
	0%{
		-webkit-transform: scale(0,0) rotate(180deg);
		-moz-transform: scale(0,0) rotate(180deg);
	}
	50%{
		-webkit-transform: scale(0,0) rotate(180deg);
		-moz-transform: scale(0,0) rotate(180deg);
	}
	100%{
		-webkit-transform: scale(1,1) rotate(0deg);
		-moz-transform: scale(1,1) rotate(0deg);
	}	
}
@-webkit-keyframes achieve{
	0%{
		-webkit-transform: translate(0px,-1000px);
/* 		transform: translate(0px,-1000px); */
		-moz-transform: translate(0px,-1000px);
	}
	40%{
		-webkit-transform: translate(0px,-1000px);
/* 		transform: translate(0px,-1000px); */
		-moz-transform: translate(0px,-1000px);
	}
	80%{
		-webkit-transform: translate(0px,0px);
/* 		transform: translate(0px,0px); */
		-moz-transform: translate(0px,0px);
		/*transform-origin: left top;*/
		-webkit-transform: rotate(-15deg);
/* 		transform: translate(0px,0px); */
		-moz-transform: rotate(-15deg);
	}
	90%{
		-webkit-transform: translate(0px,0px);
/* 		transform: translate(0px,0px); */
		-moz-transform: translate(0px,0px);
		/*transform-origin: left top;*/
		-webkit-transform: rotate(15deg);
/* 		transform: rotate(15deg); */
		-moz-transform: rotate(15deg);
	}
	100%{
		-webkit-transform: translate(0px,0px);
/* 		transform: translate(0px,0px); */
		-moz-transform: translate(0px,0px);
		-webkit-transform: rotate(0deg); 
/* 		transform: rotate(0deg);  */
		-moz-transform: rotate(0deg); 
	}
}
.ach{
	font-size: 34px;
	width: 220px;
	/*background: green;*/
	/*margin-top: 4px;*/
	margin-left: auto;
	margin-right: auto;
	font-family:'chenwixun-jianaf3a8d1e718ead';
	font-weight: bold;
	animation:ach 2.2s ease-out; 
}
.got{
	width: 480px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: block;
	margin-top: 20px;
	perspective:500px;
	list-style-type:disc;
}
.got li{
	color: rgb(0,20,20);
	font-size: 24px;
}
.scholarship{
	animation:scholarship 3.7s linear;
}
@-webkit-keyframes scholarship{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
/* 	47%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	} */
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
	
}
@-webkit-keyframes model{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
/* 	41%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	} */
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
@-webkit-keyframes blog{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
/* 	70%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	} */
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
@-webkit-keyframes reward{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
/* 	64%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	} */
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
@-webkit-keyframes ss{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	}
/* 	51%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
	} */
	100%{
		-webkit-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
	}
}
.model{
	animation:model 3.8s linear;
}
.blog{
	animation:blog 4.1s linear;
}
.reward{
	animation:reward 4.4s linear;
}
.ss{
	animation:ss 4s linear;
}
.down{
	width: 550px;
	font-size: 30px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 260px;
}

.okay1{
	background: rgb(40,40,40);
	color: white;
	border: 4px solid white;
	animation:okay 0.6s linear; 
	-webkit-transform: rotate(-10deg);
	line-height: 50px;
	-moz-transform: rotate(-10deg);
}
@-webkit-keyframes okay{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
		-webkit-transform-origin: left;
		-moz-transform-origin: left;
		-webkit-transition:rotate(-10deg);
		-moz-transition:rotate(-10deg);
	}
	100%{
		-webkit-transform: translate(-1000px,0px);
		-moz-transform: translate(-1000px,0px);
		-webkit-transform-origin: left;
		-moz-transform-origin: left;
		-webkit-transition:rotate(-10deg);
		-moz-transition:rotate(-10deg);
	}
}
.flower1{
	animation:flower 0.8s linear; 
	margin-top: 81px;
	background: red;
	color: rgb(40,40,40);
	border: 4px solid rgb(40,40,40);
	line-height: 50px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
}
@-webkit-keyframes flower{
	0%{
		-webkit-transform: translate(-1000px,0px);
		-webkit-transform: translate(-1000px,0px);
		transform-origin: left;
		transform-origin: left;
		transition:rotate(10deg);
		transition:rotate(10deg);
	}
	100%{
		-webkit-transform: translate(-1000px,0px);
		transform-origin: left;
		transition:rotate(10deg);
	}
}
.attention1{
	animation:attention 0.7s linear; 
	margin-top: 80px;
	background: white;
	color: rgb(40,40,40);
	line-height: 50px;
	border: 4px solid rgb(40,40,40);
	-webkit-transform: rotate(-13deg);
	-moz-transform: rotate(-13deg);
}
@-webkit-keyframes attention{
	0%{
		-webkit-transform: translate(-1000px,0px);
		transform-origin: left;
		transition:rotate(-13deg;);
	}
	100%{
		-webkit-transform: translate(-1000px,0px);
		transform-origin: left;
		transition:rotate(-13deg);
	}
}
.go-on1{
	animation:goON 0.7s linear; 
	background: rgb(40,40,40);
	color: white;
	margin-top: 66px;
	line-height: 50px;
	border:4px solid white;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
}
@-webkit-keyframes goON{
	0%{
		-webkit-transform: translate(-1000px,0px);
		transform-origin: left;
		transition:rotate(4deg;);
	}
	100%{
		-webkit-transform: translate(-1000px,0px);
		transform-origin: left;
		transition:rotate(4deg);
	}
}
.look{
	width: 550px;
	font-size: 4em;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 230px;
}
.think{
	animation:think 1s ease; 
	transform-origin: left top;
}
.thing{
	animation:thing 1.5s ease; 
	transform-origin: left top;
}
.no-suit{
	animation:noSuit 2s ease;
	transform-origin: left top; 
}
@-webkit-keyframes think{
	0%{
		transform: rotate(-90deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
@-webkit-keyframes thing{
	0%{
		transform:  rotate(-90deg);
	}
	100%{
		transform:  rotate(0deg);
	}
}
@-webkit-keyframes noSuit{
	0%{
		transform:  rotate(-90deg);
	}
	100%{
		transform:  rotate(0deg);
	}
}
.lier{
	width: 550px;
	font-size: 40px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 230px;
}
.truth{
	animation:truth 2s linear;
}
.lie{
	animation:lie 2s linear;
}
.publish{
	animation:publish 2s linear;
}
@-webkit-keyframes truth{
	0%{
		transform: scale(5,5);
	}
	80%{
		transform: scale(0.9,0.9);
	}
	100%{
		transform: scale(1,1);
	}
}
@-webkit-keyframes lie{
	0%{
		transform: scale(5,5);
	}
	80%{
		transform: scale(0.9,0.9);
	}
	100%{
		transform:  scale(1,1);
	}
}
@-webkit-keyframes publish{
	0%{
		transform:  scale(5,5);
	}
	80%{
		transform: scale(0.9,0.9);
	}
	100%{
		transform: scale(1,1);
	}
}
.love{
	width: 550px;
	font-size: 6em;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 233px;
}
.namer{
	color: red;
	font-size: 10em;
	text-indent: 3em;
}
#aa{
	font-size: 25px;
	padding-top: 20px;
	text-indent: 28px;
	padding-left:7px;
}
#w{
	padding: 100px;
}
.btn1{
	width: 30px;
	height: 50px;
	border-radius: 2px;
}
